<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<body style="background-color:powderblue;">
	<div class="container">
		<div class="row">
			<h1>List of All Employees LogIn</h1>
		</div>
		<table>
			<thead>
				<tr>
					<th scope="col">Employee Id</th>
					<th scope="col">Employee Name</th>
					<th scope="col">Employee Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.employeeId}"></td>
					<td th:text="${employee.Name}"></td>
					<td th:text="${employee.email}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>